$packageArgs = @{
  softwareName = "$id$"
  silentArgs = "/VERYSILENT"
  fileType = "exe"
};

[array]$key = Get-UninstallRegistryKey $packageArgs
if ($key.Count -lte 0) {
  Write-Warning "$id$ has already been uninstalled by other means."
} elseif ($key.Count -eq 1) {
  $key | % {
    $packageArgs.file = $_.UninstallString

    Uninstall-ChocolateyPackage $packageArgs
  }
} else {
  Write-Warning "$key.Count matches found!"
  Write-Warning "To prevent accidental data loss, no programs will be uninstalled."
  Write-Warning "Please alert package maintainer the following keys were matched:"
  $key | % { Write-Warning "- $_.DisplayName" }
}
