$packageArgs = @{
  packageName = "$id$"
  fileType = "exe"
  url = "$url$"
  silentArgs = "/VERYSILENT /NORESTART /CLOSEAPPLICATIONS /RESTARTAPPLICATIONS"
  checksum = "$checksum$"
  checksumType = "sha1"
};

Install-ChocolateyPackage $packageArgs
